
<!-- NEW ITEM -->

<section class="layer">

  <form class="nugget new-completed">

    <button {{#if new.fail}}data-close{{else}}class="navigator" data-screen="{{new.next}}"{{/if}}>OK</button>

    <div>{{new.message}}</div>

  </form>

</section>
